<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Status</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="(customers$ | async)!.length>0; else noCustomers">
            <tr *ngFor="let customer of (customers$ | async)">
              <th scope="row">{{customer.id}}</th>
              <td>
                <span class="column_title">
                  First name:
                </span>
                {{customer.firstName}}
              </td>
              <td>
                <span class="column_title">
                  Last name:
                </span>
                {{customer.lastName}}
              </td>
              <td>
                <span class="column_title">
                  Status:
                </span>
                <span class="badge text-bg-success" *ngIf="customer.status==='active'">Active</span>
                <span class="badge text-bg-danger" *ngIf="customer.status==='inactive'">Inactive</span>
                <span class="badge text-bg-warning" *ngIf="customer.status==='pending'">Pending</span>
                <!-- {{customer.status}} -->
              </td>
              <td>
                <span class="column_title">
                  Email
                </span>
                {{customer.email}}
              </td>
              <td>
                <span class="column_title">
                  Phone:
                </span>
                {{customer.phone}}
              </td>
              <td><button class="btn" (click)="onEdit(customer)"><i class="bi bi-pencil-square"></i></button></td>
            </tr>
        </tbody>
        <ng-template #noCustomers>
          <tbody>
            <tr>
              <td colspan="7" class="text-center">No Customers</td>
            </tr>
          </tbody>
        </ng-template>
    </table>
</div>