<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <div class="d-flex">
                <div class="customers_sorting d-flex align-items-center">
                    <span class="text-nowrap me-2">Sort by</span>
                    <select class="form-select me-2" aria-label="Default select example" (change)="sortCustomers($event)">
                        <!-- <option selected>Sort by</option> -->
                        <option value="firstName">Name</option>
                        <option value="lastName">Last name</option>
                        <option value="status">Status</option>
                    </select>
                </div>

                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" [(ngModel)]="search" [ngModelOptions]="{standalone:true}">
                </form>

                <div class="customers_btn">
                    <button type="button" class="btn btn-primary add_customer_btn" data-bs-toggle="modal" data-bs-target="#customerModal"><i class="bi bi-person-plus me-md-2"></i><span class="d-none d-md-inline">Add customer</span></button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <app-customers-list [sort]="sort" [search]="search" (editCustomer)="customer = $event"></app-customers-list>
        </div>
    </div>
</div>

<app-customer-dialog [customer]="customer" (close)="customer=undefined"></app-customer-dialog>
<!-- Modal -->